<ng-container *ngIf="appDownloads.length > 0">

    <table mat-table [dataSource]="appDownloads" class="mat-elevation-z8">

        <ng-container matColumnDef="app">
            <th mat-header-cell *matHeaderCellDef> Chrome {{ milestone.version }} <span *ngIf="milestone.channel" [ngClass]="milestone.channel | getChannelClass">{{ milestone.channel }}</span></th>
            <td mat-cell *matCellDef="let download"> {{ download.app }}</td>
        </ng-container>

        <ng-container matColumnDef="downloads">
            <th mat-header-cell *matHeaderCellDef> Downloads</th>
            <td mat-cell *matCellDef="let download">
                <span *ngFor="let platformDownload of download!.downloads">
                    <a mat-stroked-button routerLink
                       matTooltip="{{platformDownload.url}}"
                       [matTooltipShowDelay]="200"
                       href="{{platformDownload.url}}"
                       class="mr-1">
                        <fa-icon class="fa-xl icon-color" [icon]=" platformDownload.platform | getPlatformIcon"></fa-icon>
                        {{ platformDownload.platform }}
                     </a>
<!--                    <a mat-icon-button routerLink aria-label="Example icon button with a home icon"-->
<!--                            matTooltip="Copy URL"-->
<!--                        >-->
<!--                        <mat-icon>content_copy</mat-icon>-->
<!--                    </a>-->
                </span>


<!--                <span>-->
<!--                    <fa-icon class="fa-xl icon-color" [icon]=" ['fab', 'linux']"></fa-icon> linux64:-->
<!--                    <button mat-icon-button aria-label="Download from...">-->
<!--                        <mat-icon>download</mat-icon>-->
<!--                    </button>-->
<!--                    <button mat-icon-button aria-label="Example icon button with a home icon">-->
<!--                        <mat-icon>content_copy</mat-icon>-->
<!--                    </button>-->

<!--                </span>-->

            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

</ng-container>
