<section class="padding-1">
    <h1>About this tool</h1>

    <p>This tool provides a simple frontend for easy downloads of Chrome for testing. </p>
    <p>All information are parsed from JSON endpoints:</p>
    <div>
        <ul>
            <li>Latest versions: <a href="{{latestDownloadUrl}}">{{latestDownloadUrl}}</a></li>
            <li>Milestone versions: <a href="{{milestoneDownloadUrl}}">{{milestoneDownloadUrl}}</a> </li>
        </ul>
    </div>
    <p>Find some more information on Github at <a href="https://github.com/GoogleChromeLabs/chrome-for-testing#json-api-endpoints">https://github.com/GoogleChromeLabs/chrome-for-testing#json-api-endpoints</a>.
    </p>
</section>
