<section class="padding-1">

    <h1>Download milestone versions</h1>

<!--    <div>Download Chrome for testing versions via this URL: https://googlechromelabs.github.io/chrome-for-testing/latest-versions-per-milestone-with-downloads.json-->
<!--    </div>-->

    <mat-form-field>
        <mat-label>Chrome version</mat-label>
        <mat-select (selectionChange)="showDownloads($event.value)">
            @for (milestone of milestones;track milestone) {
                <mat-option [value]="milestone.version">{{ milestone.milestone }}</mat-option>
            }
        </mat-select>
    </mat-form-field>
    <span class="ml-1">Last update: {{ updated }}</span>

    <ng-container *ngIf="selectedMilestone; else nothing">
        <app-milestone [milestone]="selectedMilestone" class="mb-1"></app-milestone>
    </ng-container>

    <ng-template #nothing>
        <h3>No version selected.</h3>
    </ng-template>

    <!--  <table mat-table [dataSource]="milestones" class="mat-elevation-z8">-->

    <!--    <ng-container matColumnDef="release">-->
    <!--      <th mat-header-cell *matHeaderCellDef> Release</th>-->
    <!--      <td mat-cell *matCellDef="let element"> {{ element.milestone }}</td>-->
    <!--    </ng-container>-->

    <!--    <ng-container matColumnDef="version">-->
    <!--      <th mat-header-cell *matHeaderCellDef> Version</th>-->
    <!--      <td mat-cell *matCellDef="let element"> {{ element.version }}</td>-->
    <!--    </ng-container>-->

    <!--    <ng-container matColumnDef="win32">-->
    <!--      <th mat-header-cell *matHeaderCellDef> Win32</th>-->
    <!--      <td mat-cell *matCellDef="let element"> {{ element.downloads['chrome'] }}</td>-->
    <!--    </ng-container>-->

    <!--    <ng-container matColumnDef="win64">-->
    <!--      <th mat-header-cell *matHeaderCellDef> Win64</th>-->
    <!--      <td mat-cell *matCellDef="let element"> {{ element.symbol }}</td>-->
    <!--    </ng-container>-->

    <!--    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>-->
    <!--    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>-->
    <!--  </table>-->

</section>
