<mat-toolbar>
<!--  <mat-icon aria-hidden="false" aria-label="Download Chrome 4 Testing" fontIcon="download"></mat-icon>-->
  <button mat-stroked-button color="primary" routerLink="/milestone" routerLinkActive="mat-accent" ariaCurrentWhenActive="page"><mat-icon>download</mat-icon>Download milestones</button>
  <button class="ml-1" mat-stroked-button color="primary" routerLink="/about" routerLinkActive="mat-accent" ariaCurrentWhenActive="page"><mat-icon>info</mat-icon>Info</button>
</mat-toolbar>

<router-outlet></router-outlet>
