<mat-toolbar>
    <!--  <mat-icon aria-hidden="false" aria-label="Download Chrome 4 Testing" fontIcon="download"></mat-icon>-->
    <button mat-stroked-button color="primary" routerLink="/latest" routerLinkActive="mat-accent" ariaCurrentWhenActive="page" class="mr-1" >
        <mat-icon>download</mat-icon>
        Download latest
    </button>
    <button mat-stroked-button color="primary" routerLink="/milestone" routerLinkActive="mat-accent" ariaCurrentWhenActive="page" class="mr-1" >
        <mat-icon>download</mat-icon>
        Download milestones
    </button>
    <button mat-stroked-button color="primary" routerLink="/about" routerLinkActive="mat-accent" ariaCurrentWhenActive="page">
        <mat-icon>info</mat-icon>
        Info
    </button>
</mat-toolbar>

<router-outlet></router-outlet>
